html, body {
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}

header {
    background: url("img/rectangle-3.png");
    background-repeat: no-repeat;
    /*height: 100%;*/
    padding: 0 100px;
}
h2 {
    font-size: 60px;
}
p {
    font-size: 18px;
    color: #808080;
}
.top-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
    text-transform: uppercase;
    justify-content: space-between;
}
.menu li a{
    color: #ffffff;
    text-decoration: none;
    font-family: Lato;
    font-size: 18px;
    text-align: left;
}
.welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    padding-top: 50px;
}
.welcome-text h2{
    font-family: Lato;
    font-size: 72px;
    font-weight: 900;
    text-align: left;
    color: #ffffff;
}
.welcome-text span{
    display: block;
    width: 546px;
    height: 23px;
    font-size: 24px;
    text-align: left;
    color: #ffffff;
    margin-top: 43px;
    margin-bottom: 101px;
}

.download-button {
    width: 224px;
    border-radius: 25px;
    box-shadow: 0px 10px 40px 0 rgba(54, 54, 54, 0.15);
    background-color: #ffffff;
    padding: 17px 51px;
    text-decoration: none;
    color: #d90647;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}
.messaging img {
    position: relative;

}
.messages-img { left: -20px; top: -25px }
.conversation-img {  left: -140px; top: 20px; }
.messaging {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:  0 100px;
}
.keep-in-touch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.keep-in-touch img {
    position: relative;
}
.contacts-img {
     top: 100px; left: 250px; z-index: 3;
}
.groups-img {
     left: 155px; top: 50px;
}
.reviews{
    padding-bottom: 100px;
}
.reviews ul, h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.reviews h2 {
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
}
.reviews li {
    padding: 15px;
    margin-left: 20px;
    font-size: 18px;
    color: #808080;
}


.reviews .review1 .name:before{
    content: url("img/img-conversation.png");
}





.review1 {
    width: 370px;

}
.review1 div,
.review2 div,
.review3 div{
    border: 1px solid lightgray;
    /*color: lightgray;*/
    padding: 10px;
}
.review2 {
    width: 370px;
    margin-top: -55px;
}
.review2 div{
    box-shadow: 0px 30px 60px 0 rgba(54, 54, 54, 0.15);
    margin-top: -55px;
}
.review3 {
    width: 370px;
}
.reviews li span {
    color: red;

}
.action-list {
    margin-top: 30px;
}
.action-list .phone-img {
    margin: -80px 0 -135px;
}
.action-list > div{
    padding:  0 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to top, #eb402c, #d90647);
}
.action-list .text h5{
    font-size: 24px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 1.4px;
    color: #ffffff;
}
.action-list p{
    font-family: Lato;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.6);
}
.action-list .text li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.img-conversation:after{
    content: url("img/img-conversation.png");
    margin-top: 1.67em;
    padding: 10px;
}
.img-call:after{
    content: url("img/img-call.png");
    margin-top: 1.67em;
    padding: 10px;
}
.img-picture:before{
    content: url("img/img-pictures.png");
    margin-top: 1.67em;
    padding: 10px;
}
.img-send-video:before{
    content: url("img/img-send-video.png");
    margin-top: 1.67em;
    padding: 10px;
}
.img-picture ,
.img-send-video{
    text-align: left;
}
.img-conversation,
.img-call{
    text-align: right;
}
.form input{
    width: 571px;
    height: 50px;
    border-radius: 25px;
    background-color: #f8f8f8;
}
.form button{
    margin-left: -180px;
    width: 180px;
    height: 55px;
    border-radius: 25px;
    box-shadow: 0px 10px 30px 0 rgba(223, 27, 61, 0.3);
    background-image: linear-gradient(to top, #eb402c, #d90647);
}
.form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 125px;
    padding-top: 100px;
}
.form-subscribe{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
.form-subscribe input{
    font-family: Lato;
    font-size: 18px;
    text-align: left;
    color: #808080;
    padding-left: 15px;
}
.form-subscribe button a{
    color: white;
    text-decoration: none;
}
.last-section{
    padding-top: 102px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 120px;
    border-bottom: 1px solid #e0e0e0;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
footer .menu-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu-footer li {
    display: block;
    margin-right: 45px;
    font-family: Lato;
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    color: #363636;
}
footer div{
    padding: 15px;
    border-radius: 25px;
    background-color: #f8f8f8;
}

